@using System.Data.SqlClient;


@{

    if (IsPost)
    {

        var name = Request.Form["name"];
        var age = Request.Form["age"];
        var choice = Request.Form["choice"];
        var choice2 = Request.Form["choice2"];
        SqlConnection conn = new SqlConnection("Server=localhost\\SQLEXPRESS;Database=master;Trusted_Connection=True;");
        conn.Open();
        string query = string.Format("INSERT INTO userdata (name, age, fooditem1, fooditem2) VALUES ('{0}', '{1}', '{2}', '{3}')", name, age, choice, choice2);
        SqlCommand cmd = new SqlCommand(query, conn);
        cmd.ExecuteNonQuery();
        Response.Redirect("~/Default.cshtml");
    }


}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css"href="~/website.css" 
<head>
    <meta charset="utf-8" />
    <title>Form</title>
    <a href="~/Controls.cshtml"><button>Admin Console</button></a>
</head>
<body>
    <form>
        <fieldset class="borderbox">
            <h1>Form</h1>
            <p id="adminname">Name:</p>
            <input type="text" name="name" /> <br /><br />
            <p id="adminage">Age:</p>
            <input type="text" name="age" /> <br /> <br />

            <p>Food Item 1:</p> <br />
            <input type="radio" name="choice" value="Fish" /><text>Fish</text> <br />
            <input type="radio" name="choice" value="Beans" /><text>Beans</text><br />
            <input type="radio" name="choice" value="Pasta" /> <text>Pasta </text><br />
            <br /> 
            <p>Food Item 2: </p><br />
            <input type="radio" name="choice2" value="Rice Pudding" /> 
            <text>Rice Pudding </text><br />
            <input type="radio" name="choice2" value="Cake" /> <text>Cake</text><br />
            <input type="radio" name="choice2" value="Mackarel" /> <text>Mackarel</text><br /> <br />
            <input id="submit" type="submit" name="submit" value="Submit" />



        </fieldset>
    </form>
</body>
</html>