
html, head, body{
    margin:0px;
    background-color:aliceblue;
    background-image: url(png-alpha-hud-technological-background-elements-code-text-combe-your-video-to-get-futuristic-look-type-113712696.jpg);
    
}


.open{
    width: auto;
    background-color:white;
    height:50px;
    border-bottom: 1px solid black;
    position:sticky;
    top: 0;
    z-index:10;
    
    
    
}

.open > h1{
     font-weight:100;
      letter-spacing: 15px;
        font-family:Garamond;
    font-size:35px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    

    
    
    
    
}

.open h1 a{
    display:inline;
    font-family: Lucida Sans Unicode;
    text-decoration: none;
    position:relative;
    font-size: 20px;
    letter-spacing: 0px;
    color: dimgray;
        
}

.open h1 a text:hover{
    box-shadow: 0px 0px 2px 0px black;
    transition:500ms;
    
    
    
}

.intro{
    
    width: auto;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.94), rgba(255,255,255,1) 50%);
    text-align:left;
    height:450px;
    margin-top:200px;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    
    
}

.intro p{
    margin-left: 60px;
    margin-top: 40px;
    font-size: 18px;
    font-family: Lucida Sans Unicode;
    color:dimgray;
    margin-right: 650px;
    
    
}


.intro ul {
     margin: 10px 800px 10px 20px;
    font-size: 18px;
    font-family: Lucida Sans Unicode;
    color:dimgray;
    margin-left: 60px;
    
    
    
    
}
.intro img{
    position: absolute;
    left: 1000px;
    border: 1px solid black;
    top: 300px;
    
    
    
    
}

.intro text{
    font-family: Garamond;
    font-size: 34px;
    border-bottom:2px solid black;
    position:relative;
    margin-left: 60px;
    letter-spacing: 10px;
    font-weight:300;
    top: 20px;
    
    
    
}
    

    
    



.open h1 a:hover{
    text-shadow: black;
    cursor: pointer;
    
    
}

.footer{
    margin-top: 200px;
    height: 200px;
    width: auto;
    background-color: white;
    font-family: Garamond;
    font-size: 40px;
    
    
}



.footer text{
    position:relative;
    bottom:-36%;
    left: 5%;
}

#introtxt{
    margin-right: 650px;
    color: dimgrey;
    
    
}

#contacty{
    position:relative;
    left: 20px;
    
    
}

.footer img{
    width: auto;
    height: 60px;
    position:relative;
    top:20px;
    
    
    
}


.footer img:hover{
    
    cursor:pointer;
    
    
}

#twitter{
    left:10px;
    
    
}


#github{
    left: 30px;
    
}